/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.color-selector {
  box-sizing: border-box;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 30px; }
  .color-selector .color {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle; }
    .color-selector .color.selected, .color-selector .color:hover {
      height: 40px;
      width: 40px; }

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("/fonts/MonoSocialIconsFont-1.10.eot");
  src: url("/fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("/fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("/fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("/fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%; }

a.symbol {
  background: #9f9f9f;
  padding: 7px 5px 3px 5px;
  color: white;
  text-decoration: none; }

html, body {
  height: 100%; }

body {
  padding: 0;
  width: 100%;
  font-weight: 400;
  font-family: 'Lato';
  background-color: #74943D;
  overflow: hidden; }

.clear-fix {
  display: block;
  clear: both; }

noscript {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ff3d29;
  color: white;
  text-align: center;
  padding: 20px; }

.wrapper {
  overflow: hidden; }

.button {
  display: block;
  width: 400px;
  box-sizing: border-box;
  padding: 15px;
  background-color: #ff7c00;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear; }
  .button:hover {
    background-color: #f07500; }
  .button:active {
    background-color: #e67000; }

.left, .right {
  float: left;
  height: 100vh; }

.left {
  width: 77vh;
  background-color: #333;
  position: relative; }
  .left .grid {
    margin-top: 4vh;
    margin-left: 1vh;
    margin-right: 1vh;
    box-sizing: border-box;
    height: 88vh;
    width: calc(100% - 2vh);
    background-color: #333;
    border: 1px solid #555; }
  .left .creators {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 1.5vh;
    margin-left: 1vh;
    margin-bottom: 1vh; }
    .left .creators p {
      color: #777;
      margin-top: 0.5vh; }
    .left .creators a {
      color: inherit; }
      .left .creators a:hover {
        text-decoration: none; }

.right {
  width: calc(100% - 77vh);
  background-color: #74943D; }
  .right .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    height: 10vh; }
  .right h2 {
    font-family: "Slabo 27px", serif;
    text-align: center;
    font-size: 7vh;
    margin-top: 20vh;
    color: white; }
  .right h3 {
    font-family: "Slabo 27px", serif;
    color: #EEE;
    font-size: 4.4vh;
    padding: 22px 0;
    position: relative;
    z-index: 1;
    line-height: 32px;
    text-align: center;
    margin-top: 3vh; }
    .right h3 span {
      background-color: #74943D;
      padding: 0 28px; }
    .right h3:before {
      border-top: 3px solid #EEE;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 15em;
      z-index: -1; }
  .right .start {
    margin-top: 10vh;
    width: 10em; }
  .right .powered-by-just-giving {
    width: 100px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .right .bottom {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: calc(100% - 77vh);
    height: 14vh;
    background-color: #f8f8f8; }
    .right .bottom img {
      display: block;
      height: 10vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2vh; }

/*# sourceMappingURL=app.css.map */
