/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.color-selector {
  box-sizing: border-box;
  padding: 5px; }
  .color-selector .color {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle; }
    .color-selector .color.selected, .color-selector .color:hover {
      height: 40px;
      width: 40px; }

html, body {
  height: 100%; }

body {
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 400;
  font-family: 'Lato';
  background-color: #f8f8f8;
  margin-top: 85px; }

header {
  width: 100%;
  height: 68px;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12); }
  header .eap-logo {
    float: right; }
    header .eap-logo img {
      margin-top: 5px;
      height: 60px; }

.page-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto; }

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

.grid {
  width: 800px;
  height: 600px;
  background-color: #333;
  display: inline-block; }
  .grid table {
    width: 100%; }
  .grid tr {
    width: 100%; }
  .grid td {
    width: 10px;
    height: 10px;
    border: 1px solid #555;
    box-sizing: border-box; }

.donate-button, .save-button {
  display: block;
  width: 800px;
  box-sizing: border-box;
  padding: 15px;
  background-color: #ff7c00;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.2s linear; }
  .donate-button:hover, .save-button:hover {
    background-color: #ff9129; }
  .donate-button:active, .save-button:active {
    background-color: #ffa652; }

h1 {
  font-size: 2em;
  padding: 20px; }

.main-contents {
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px; }
  .main-contents p {
    font-size: 14px;
    text-align: left; }

/*# sourceMappingURL=app.css.map */
