/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.color-selector {
  box-sizing: border-box;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: block;
  text-align: center;
}

.color-selector .color {
  display: inline-block;
  width: 4vh;
  height: 4vh;
  cursor: pointer;
  vertical-align: middle;
}

.color-selector .color.selected,
.color-selector .color:hover {
  height: 6vh;
  width: 6vh;
}

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("/fonts/MonoSocialIconsFont-1.10.eot");
  src: url("/fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("/fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("/fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("/fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.symbol,
a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

a.symbol {
  background: #9f9f9f;
  padding: 7px 5px 3px 5px;
  color: white;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  width: 100%;
  font-weight: 400;
  font-family: 'Lato';
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clear-fix {
  display: block;
  clear: both;
}

noscript {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ff3d29;
  color: white;
  text-align: center;
  padding: 20px;
}

svg {
  width: 100%;
  height: 100%;
}

/*table {
	width: 100%;
}

tr {
	width: 100%;
}

td {
	width: 10px;
	height: 10px;
	border: 1px solid $white-color;
	box-sizing: border-box;
}*/

.wrapper {
  overflow: hidden;
}

.button {
  display: block;
  width: 400px;
  box-sizing: border-box;
  padding: 15px;
  background-color: #111111;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.2s linear;
  outline: none;
}

.button:hover {
  background-color: #515151;
}

.button:active {
  background-color: #6a6a6a;
}

.instructions-button {
  background-color: #919191;
  font-size: 14px;
}

.instructions-button:hover {
  background-color: #aaaaaa;
}

.instructions-button:active {
  background-color: #c4c4c4;
}

.left,
.right {
  float: left;
  height: 100vh;
}

.left {
  width: 77vh;
  background-color: #333;
  position: relative;
  float: left;
}

.left .grid {
  margin-top: 4vh;
  margin-left: 1vh;
  margin-right: 1vh;
  box-sizing: border-box;
  height: 88vh;
  width: calc(100% - 2vh);
  background-color: #333;
  border: 1px solid #555;
}

.left .bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1.5vh;
  margin-left: 1vh;
  margin-bottom: 1vh;
}

.left .bottom .creators {
  float: left;
}

.left .bottom p {
  color: #777;
  margin-top: 0.5vh;
}

.left .bottom a {
  color: inherit;
}

.left .bottom a:hover {
  text-decoration: none;
}

.left .bottom img {
  height: 3vh;
  text-align: right;
  position: absolute;
  right: 2.5vh;
  opacity: 0.6;
}

.left .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  height: 2vh;
  float: right;
}

.right {
  width: calc(100% - 77vh);
  background-color: #ffffff;
  float: right;
}

.right h2 {
  font-family: "Slabo 27px", serif;
  text-align: center;
  font-size: 7vh;
  margin-top: 20vh;
  color: white;
}

.right h3 {
  color: #111111;
  font-size: 4.7vh;
  padding: 22px 0;
  position: relative;
  z-index: 1;
  line-height: 32px;
  text-align: center;
  margin-top: 3vh;
}

.right h3 span {
  background-color: #ffffff;
  padding: 0 28px;
}

.right .start,
.right .donate {
  margin-top: 5vh;
}

.right .powered-by-just-giving {
  width: 100px;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10vh;
}

.right p {
  padding: 2vh 10vh;
  text-align: center;
  font-size: 2.1vh;
  line-height: 5vh;
}

.right .logo {
  display: block;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

.right .bottom {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: calc(100% - 77vh);
  height: 14vh;
}

.right .bottom img {
  display: block;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

.right h4 {
  text-align: center;
  font-size: 4vh;
  margin-top: 20vh;
  color: #111111;
}

.right .donate-more {
  text-align: center;
  font-size: 2.5vh;
  margin-top: 5vh;
  color: #111111;
}

.right .anonymous-warning {
  text-align: center;
  font-size: 1.5vh;
  margin-bottom: 3vh;
}

.right p a {
  color: inherit;
  text-decoration: none;
}

.right p a:hover {
  text-decoration: underline;
}

.right strong {
  font-weight: bold;
}

.right h5 {
  text-align: center;
  font-size: 4vh;
  margin-top: 15vh;
  color: #111111;
  margin-bottom: 15vh;
}

.right .facebook {
  background-color: #3B5998;
}

.right .facebook:hover {
  background-color: #37538d;
}

.right .facebook:active {
  background-color: #344e86;
}

.right .twitter {
  background-color: #55acee;
}

.right .twitter:hover {
  background-color: #47a5ed;
}

.right .twitter:active {
  background-color: #3ea1ec;
}

.instructions-modal {
  margin-top: -40vh !important;
  max-width: 800px !important;
  width: 90% !important;
  margin-left: -400px !important;
}

.instructions-modal .instruction {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.instructions-modal p {
  padding-top: 10px !important;
}

.instructions-modal .grid-full {
  padding-top: 30px !important;
  font-style: italic;
}

@media screen and (max-width: 150vh) {
  .left {
    width: 60vh;
  }

  .left .grid {
    height: 68.57vh;
    margin-top: 12.5vh;
  }

  .right {
    width: calc(100% - 60vh);
  }

  .right .bottom {
    width: calc(100% - 60vh);
  }
}

@media screen and (max-width: 128vh) {
  .right h2 {
    font-size: 4vh;
  }

  .right h3 {
    font-size: 3vh;
    padding: 10px;
  }

  .right h3 span {
    padding: 10px;
  }

  .right h3:before {
    width: 40vh;
  }

  .right h4 {
    font-size: 2.8vh;
  }

  .right p {
    font-size: 2vh;
  }

  .right .donate-more {
    font-size: 1.8vh;
  }

  .right h5 {
    font-size: 2.8vh;
  }

  .color-selector .color {
    width: 2vh;
    height: 2vh;
  }

  .color-selector .color.selected {
    width: 4vh;
    height: 4vh;
  }
}

@media screen and (max-width: 100vh) {
  body {
    overflow-y: scroll;
  }

  .left {
    width: 100%;
    height: inherit;
  }

  .left .grid {
    width: 90vw;
    height: 102.857142vw;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .left .bottom {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .left .bottom .creators {
    float: none;
  }

  .left .bottom img {
    position: relative;
    margin-top: 30px;
    right: inherit;
  }

  .right {
    width: 100%;
    height: inherit;
  }

  .right .bottom {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: inherit;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .right .bottom img {
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }
}