@import "partials/reset";
@import "constants/colors";
@import "partials/color-selector";

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	font-weight: 100;
	font-family: 'Lato';
}

.container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.grid {
	width: 800px;
	height: 600px;
	background-color: $color-black;
	display: inline-block;

	@import "partials/grid";
}

.donate-button, .save-button {
	display: block;
	width: 800px;
	box-sizing: border-box;
	padding: 20px;
	background-color: #2980b9;
	color: white;
	text-decoration: none;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	margin-bottom: 10px;
}

h1 {
	font-size: 2em;
	padding: 20px;
}