@import "bourbon/bourbon";
@import "partials/reset";
@import "constants/colors";
@import "partials/color-selector";
@import "partials/fonts";

html, body {
	height: 100%;
}

body {
	padding: 0;
	width: 100%;
	display: table;
	font-weight: 400;
	font-family: 'Lato';
	background-color: $background-color;
	margin-top: 85px;
}

.clear-fix {
	display: block;
	clear: both;
}

noscript {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #ff3d29;
	color: white;
	text-align: center;
	padding: 20px;
}
