@import "partials/reset";
@import "constants/colors";

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	font-weight: 100;
	font-family: 'Lato';
}

.container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.grid {
	width: 800px;
	height: 600px;
	background-color: $color-black;
	display: inline-block;

	@import "partials/grid";
}