.color-selector {
	box-sizing: border-box;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 30px;
	
	.color {
		display: inline-block;
		width: 20px;
		height: 20px;
		cursor: pointer;
		vertical-align: middle;

		&.selected, &:hover {
			height: 40px;
			width: 40px;
		}
	}
}